In [15]:
import pandas as pd
import numpy as np
from data_cleaning_set import *

In [37]:
def games(game):
    datos= extraerdatos()
    game_1= datos[(datos["Name"] == f'{game}')]
    
    return game_1


game1=games()

,Name,User Rating Count,Price,Languages,Primary Genre
0,Sudoku,3553.0,2.99,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",Games